*{
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.lsvn .header{  
	width: 100%;
}
.lsvn .header .bg{
	width: 100%;
}
.lsvn .header > img{
	width: 100%;
}
.lsvn .header .tren{
	padding: 10px 0px;
	width: 100%;
	display: flex;
	margin: 10px 181px;
}
.lsvn .header .tren a{
	width: 20%;
}
.lsvn .header .tren > a > img{
	width: 100%;
}
.lsvn .header .tren .right{
	width: 30%;
	margin-left: 35%;
	margin-top: 14px;
}
.lsvn .header .tren .right .right_tren{
	display: flex;
	font-family: Calibri!important;
	padding-bottom: 5px;
}
.lsvn .header .tren .right .right_tren .vi{
	width: 25px;
	padding-top: 6px;
	margin-right: 3px;
}
.lsvn .header .tren .right .right_tren .en{
	width: 25px;
	padding-top: 6px;
}
.lsvn .header .tren .right .right_tren img{
	width: 100%;
}
.lsvn .header .tren .right .right_tren .dk{
	width: 75px;
	margin-left: 10px;
	/* margin-bottom: 10px; */
	font-size: 22px;
	color: rgb(0, 0, 0);
	text-decoration: none;
}
.lsvn .header .tren .right .right_tren .dn{
	width: 97px;
	margin-left: 10px;
	font-size: 22px;
	color: rgb(0, 0, 0);
	text-decoration: none;
}
.lsvn .header .tren .right .right_duoi{
	display: flex;
	width: 80%;
}
.lsvn .header .tren .right .right_duoi input{
	width: 62%;
	height: 30px;
	margin-right: 3px;
}
.lsvn .header .tren .right .right_duoi button {
    border-radius: 10%;
    height: 30px;
    width: 11%;
}
.lsvn .menu {
	width: 100%;
	height: 40px;
	padding-top: 5px;
	background: #af0202;
}
.lsvn .menu ul{
	width: 78%;
	margin-top: 0px;
	margin-left: 11.3%;
	display: flex;
	list-style-type: none;
}
.lsvn .menu ul li{
	text-align: center;
	/* padding: 8px 0px; */
}
.lsvn .menu ul li a{
	width: 100%;
	text-decoration: none;
	color: white;
	font-family: Calibri!important;
	font-size: 20px;
	transition: 0.5s;
}
.lsvn .menu ul li a:hover{
	font-size: 22px;
	color: rgb(255, 72, 0);
}
/* end menu */

.lsvn .content{
    width: 80%;
    margin: auto;
}
.lsvn .content img{

}

.lsvn .content .con1{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
}
.lsvn .content .con1 .left{
    padding-left: 10px;
    width: 20%;
    color: rgb(0, 0, 0);
    /* background: rgb(255, 246, 219); */
}
.lsvn .content .con1 .left ul{
    list-style-type: none;
}
.lsvn .content .con1 .left ul li{
    
}
.lsvn .content .con1 .left ul li a{
    color: rgb(0, 0, 0);
    color: rgb(0, 195, 255);
}
.lsvn .content .con1 .left ul li a:hover{
    color: rgb(255, 72, 0);
}

.lsvn .content .con1 .right{
    width: 75%;
}
.lsvn .content .con1 .right .row{
    text-align: justify;
    /* border-bottom: 3px solid rgb(7, 181, 171); */
    padding: 20px 0px;
}
.lsvn .content .con1 .right .row i{
    font-size: 50px;
    text-align: center;
    color: rgb(151, 0, 0);
}
.lsvn .content .con1 .right .row h2{
    text-align: center;
   color: coral;
}

.lsvn .footer .lienhe{
	text-align: center;
	padding-right: 12%;
	width: 54%;
	color: white;
}
.lsvn .footer .lienhe i{
	font-size: 50px;
}
.lsvn .footer img{
	margin-left: 50px;
	width: 74%;
}
.lsvn .footer{
	margin-top: 50px;
	padding-top: 20px;
	background: url(pic/167.jpg);
	display: flex;	
}

.lsvn .footer .lienhe .icon{
	margin-top: 30px;
	display: flex;	
}
.lsvn .footer .bando {
	text-align: center;
	color: white;
	margin: auto;
	width: 54%;
	margin-right: 50px;
}
