*{
    margin: 0px;
    padding: 0px;
}

.footer .col1 p {
    font-size: 20px;
    /* font-family: unset; */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 183px;
    margin-top: -31px;
}

html, body{
    width: 100%;
    height: 100%;
    perspective: 1000;
}

.bphone .top{
    width: 100%;
    height: 650px;
    background: url(pic/46.jpg);
    background-size: cover;
}
.bphone .top .header{
    display: flex;
    justify-content: center;
}
.bphone .header .col1{
    width: 31%;
    margin-top: 30px;
}
.bphone .header .col1 i{
    color: white;
    font-size: 30px;
    transition: 0.6s;
}
.bphone .header .col1 i:hover{
    color: rgb(5, 181, 194);
    transform: scale(1.1);
}
.bphone .header .col2{
    width: 31%;
    margin-top: 10px;
}
.bphone .header .col2 img{
    width: 100%;
    transition: 0.5s;
}
.bphone .header .col2 img:hover{
    transform: scale(1.1);
}

.bphone .header .col3{
    width: 31%;
    margin-top: 30px;
    text-align: right;
}
.bphone .header .col3 a{
    margin: 5px;
}
.bphone .header .col3 i{
    color: white;
    font-size: 30px;
    transition: 0.6s;
    font-size: 32px ;
}
.bphone .header .col3 i:hover{
    color: rgb(0, 141, 151);
    transform: scale(1.1);
    
}
.bphone .header ._1col img{
    width: 100%;
}
.opct{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.bphone .top .menu{
    position: fixed;
    top: 0px;
    z-index: 100;
    height: 70px;
    /* line-height: 30px; */
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.87);
    transition: 2s;
}
.bphone .top .menu .col1{
    padding-left: 50px;
    width: 31%;
}
.bphone .top .menu .col1 i{
    color: white;
    font-size: 30px;
}
.bphone .top .menu .col2{
    width: 31%;
    /* margin: auto; */
}
.bphone .top .menu .col2 img{
    padding-left: 140px;
    width: 50%;
    /* margin: auto; */
}
.bphone .top .menu .col3{
    padding-right: 50px;
    text-align: right;
    width: 31%;
}
.bphone .top .menu .col3 i{
    margin-left: 10px;
    color: white;
    font-size: 30px;
}
.bphone .top .menu img{
    width: 50%;
}

.bphone .top ul{
    width: 50%;
    margin-top: 120px;
    margin-left: 400px;
    /* margin: auto; */
}
.bphone .top ul li {
    display: flex;
    color: white;
    font-size: 24px;
    margin-top: 20px;
    perspective-origin: 50% 50%;
}
.bphone .top ul li .icon{
    /* opacity: 0; */
    margin-right: 10px;
} 
.bphone .top ul li .text {
    display: flex;
    color: white;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    transition: 0.6s;
    font-weight: bold;
    transform: scale(.95);
    
}
.bphone .top ul li .text:hover {
    color: rgb(3, 187, 187);
    transform: scale(1);
}

.bphone .danhsach{
    position: absolute;
    top: 67px;
    left: -17px;
    width: 340px;
    margin-left: 17px;
    padding-left: 20px;
    background: black;
    border-radius: 10px;
}
.bphone .danhsach .ul{
    list-style-type: none;
}
.danhsach ul li {
    /* padding-top: 10px; */
    padding: 10px;
    /* text-align: justify; */
    /* border: 1px solid white; */
    border-bottom: 1px solid white;
    text-align: justify;
    /* color: black; */
}

.danhsach ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    /* justify-content: center; */
    /* text-align: justify; */
    font-family: 'Fjalla One', sans-serif;
}

.danh sach ul li {}

.danhsach ul {
    /* background: white; */
    list-style-type: none;
}

.bphone .content {
    width: 100%;
    margin: auto;
    font-family: 'SVN-Gilroy-semibold';
}
.bphone .content .hanhtrinh {
    width: 100%;
    height: 600px;
    padding-top: 50px;
    background: url(pic/anhnen5.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
}
.bphone .content .hanhtrinh .p1{
    position: absolute;
    top: 94px;
    left: 574px;
    border: 15px solid #00000082;
    padding: 168px 80px 58px 38px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.hanhtrinh .icon{
    position: absolute;
    top: 94px;
    left: 574px;
    padding: 106px 126px 113px 110px;
    transition: 0.5s;
}
.hanhtrinh .icon i {
    
    font-size: 60px;
    padding: 3px 17px;
    background: #06a59d;
    border-radius: 5px;
    color: white;
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
}
.hanhtrinh .icon:hover{
    background: rgba(0, 0, 0, 0.486);
}
.hanhtrinh .icon:hover i {
    opacity: 1;
    transform: scale(1);
}

.hanhtrinh .p3 {
    position: absolute;
    top: 417px;
    left: 474px;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: black;
    transition: 0.5s;
}
/* .hanhtrinh .p3:hover{
    color: #e9e9e9;
    transform: scale(1.025);
} */

.hanhtrinh .p2 {
    position: absolute;
    top: 300px;
    left: 628px;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: #00dcff;
}

.ntq {
    width: 100%;
    height: 550px;
    margin-top: 5px;
    background: url(pic/IMG_2986-3.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
.ntq .col1{
    margin-left: 100px;
    position: relative;
    width: 45%;
    font-family: 'Roboto', sans-serif;
}
.ntq .col2{
    width: 47%;
    color: white;
}
.ntq .col2 img{
    margin-top: 22px;
    width: 100%;
    border-radius: 50%;
    color: white;
}
.ntq .col1 .pt1 .p1{
    position: absolute;
    top: 24px;
    left: 101px;
    font-size: 27px;
    font-weight: 700;
    color: #00ffff;
    width: 286px;
    height: 20px;
    border: 16px solid white;
    padding: 129px 12px 80px 15px;
}
.ntq .col1 .pt1 .icon::before{
    content: '';
    position: absolute;
    top: 25px;
    left: 100px;
    font-size: 27px;
    font-weight: 700;
    width: 286px;
    height: 20px;
    padding: 161px 45px 80px 15px;
    transition: 0.5s;
}
.ntq .col1 .pt1 .icon:hover::before{
    background: rgba(187, 178, 164, 0.63);
}
.ntq .col1 .pt1 .icon i{
    position: absolute;
    top: 113px;
    left: 220px;
    font-size: 60px;
    padding: 3px 17px;
    background: #06a59d;
    border-radius: 5px;
    color: white;
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
}
.ntq .col1 .pt1 .icon:hover i{
    opacity: 1;
    transform: scale(1);
}
.ntq .col1 .p2{
    position: absolute;
    top: 220px;
    left: 134px;
    font-size: 22px;
    font-weight: bold;
    color: #ff6115;
}
.ntq .col1 .p3{
    position: absolute;
    top: 301px;
    left: -25px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(24, 251, 251);
    transition: 0.5s;
    width: 610px;
    text-align: center;
}
.ntq .col1 .p4{
    position: absolute;
    top: 393px;
    left: -25px;
    font-size: 28px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    /* transition: 0.5s; */
    width: 610px;
    text-align: center;
}
.ntq .col1 .p5{
    position: absolute;
    top: 445px;
    left: -25px;
    font-size: 28px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    /* transition: 0.5s; */
    width: 610px;
    text-align: center;
}
.ntq .col1 .p6{
    position: absolute;
    top: 501px;
    left: -25px;
    font-size: 28px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    width: 610px;
    text-align: center;
}
.bkav{
    margin-top: 5px;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
}
.bkav .col1 {
    width: 55%;
}
.bkav .col1 img{
    width: 100%;
}
.bkav .col2 {
    width: 45%;
    position: relative;
}
.bkav .col2 .icon{
    position: absolute;
    top: 50px;
    left: 150px;
    border: 18px solid #000000b5;
    padding: 90px 110px 110px 110px;
    transition: 0.5s;
}
.bkav .col2 .icon:hover{
    background: rgba(0, 0, 0, 0.432);
}
.bkav .col2 .icon i{
    font-size: 60px;
    padding: 3px 17px;
    background: #06a59d;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
    opacity: 0;
    transform: scale(0);
}
.bkav .col2 .icon:hover i{
    opacity: 1;
    transform: scale(1);
}
.bkav .col2 .p1{
    position: absolute;
    top: 199px;
    left: 185px;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Yeon Sung', cursive; */
    /* font-family: 'Lobster', cursive; */
    font-size: 36px;
    font-weight: bold;
    color: #1bf1d3;
}
.bkav .col2 .p2{
    position: absolute;
    top: 250px;
    left: 255px;
    font-family: 'Roboto', sans-serif;
    font-size: 49px;
    font-weight: 800;
    color: #fb5d00;
}
.bkav .col2 .p3{
    position: absolute;
    top: 383px;
    left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #2d2d2d;
}
.sumenh{
    width: 100%;
    height: 500px;
    background: rgb(203, 218, 213);
    background-size: cover;
    display: flex;
}
.sumenh .col1{
    width: 50%;
    position: relative;
}
.sumenh .col2{
    width: 50%;
}
.sumenh .col2 img{
    width: 100%;
    height: 100%;
}
.sumenh .col1 .icon{
    position: absolute;
    top: 50px;
    left: 150px;
    border: 18px solid #000000b5;
    padding: 77px 100px 100px 100px;
    transition: 0.5s;
}
.sumenh .col1 .icon:hover{
    background: rgba(0, 0, 0, 0.432);
}
.sumenh .col1 .icon i{
    font-size: 60px;
    padding: 3px 17px;
    background: #06a59d;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
    opacity: 0;
    transform: scale(0);
}
.sumenh .col1 .icon:hover i{
    opacity: 1;
    transform: scale(1);
}
.sumenh .col1 .p1{
    position: absolute;
    top: 190px;
    left: 187px;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Yeon Sung', cursive; */
    font-family: 'Lobster', cursive;
    font-size: 36px;
    font-weight: bold;
    color: #4e4545;
}
.sumenh .col1 .p2{
    position: absolute;
    top: 237px;
    left: 240px;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 800;
    color: #01bcda;
}
.sumenh .col1 .p3{
    position: absolute;
    top: 357px;
    left: 81px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    color: #232121ed;
}
.sumenh .col1 .p4{
    position: absolute;
    top: 404px;
    left: 23px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    color: #dc0d0de0;
}
.anh{
    margin-top: 5px;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
}
.anh .col1 {
    width: 55%;
}
.anh .col1 img{
    width: 100%;
}
.anh .col2 {
    width: 45%;
    position: relative;
}
.anh .col2 .icon{
    position: absolute;
    top: 50px;
    left: 150px;
    border: 18px solid #000000b5;
    padding: 90px 110px 110px 110px;
    transition: 0.5s;
}
.anh .col2 .icon:hover{
    background: rgba(0, 0, 0, 0.432);
}
.anh .col2 .icon i{
    font-size: 60px;
    padding: 3px 17px;
    background: #06a59d;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
    opacity: 0;
    transform: scale(0);
}
.anh .col2 .icon:hover i{
    opacity: 1;
    transform: scale(1);
}
.anh .col2 .p1{
    position: absolute;
    top: 198px;
    left: 187px;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Yeon Sung', cursive; */
    font-family: 'Lobster', cursive;
    font-size: 36px;
    font-weight: bold;
    color: #c1c1c1;
}
.anh .col2 .p2{
    position: absolute;
    top: 250px;
    left: 240px;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 800;
    color: #01bcda;
}
.anh .col2 .p3{
    position: absolute;
    top: 383px;
    left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #355463;
}
/* end content */
 .footer .lienhe{
	text-align: center;
	padding-right: 12%;
	width: 54%;
	color: black;
}
.footer .lienhe i{
	font-size: 50px;
}
.footer img{
	margin-left: 50px;
	width: 74%;
}
.footer{
	margin-top: 50px;
	padding-top: 20px;
    background: url(pic/footer.jpg);
    background-size: cover;
	display: flex;	
}

.footer .lienhe .icon{
	justify-content: space-between;
	padding: 20p;
	margin-top: 30px;
	display: flex;
}
.footer .bando {
	text-align: center;
	color: white;
	margin: auto;
	width: 54%;
	margin-right: 50px;
}
.footer .col1 p {
    font-size: 20px;
    /* font-family: unset; */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 183px;
    margin-top: -31px;
}
