.slide{
	width: 100%;
	height: 100vh;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}
.slide-item{
	width: 100%;
	height: 100vh;
	display: inline-block;
	vertical-align: top;
}
.btn-slide{
	position: absolute;
	width: 100%;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
	position: fixed;
	font-size: 50px;
	color:rgb(255,255,255,0.9);
}
.btn-slide i:hover{
	background: #ccc;
}
.btn-slide .fa-angle-right{
	float: right;
}
.change-slide{
	position: absolute;
	width: 100%;
	height: 100vh;
	display: inline-block;
	vertical-align: top;
	transition: all 0.8s;
}
.brand{
	position: absolute;
	top: 5%;
	left: 5%;
	position: fixed;
	color: white;
	font-size: 30px;
	font-weight: bold;
	z-index: 1;
}
.menu{
	position: absolute;
	position: fixed;
	z-index: 1;
	top: 5%;
	right: 5%;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;

}
.menu li{
	padding-bottom: 5px;
}
.menu a{
	position: relative;
	color: rgb(255,255,255,0.7);
	font-size: 20px;	
	padding-bottom: 3px;
	font-weight: bold;	
}
.menu a:hover{
	color: white;
}
.menu a::after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%) scaleX(0);
	transform-origin: 50% 50%;
	width: 100%;
	height: 2px;
	background-color: rgba(255,255,255,1);
	transition: transform 300ms;
}
.menu a:hover:after{
	transform: translateX(-50%) scaleX(1);
}
.lang{
	top:0;
	right: 0;
}
.feedback{
	position: absolute;
	position: fixed;
	z-index: 1;
	bottom: 1%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.feedback li{
	display: inline-flex;
}
.feedback li.checked{
	padding-right: 5px;
	border-right: 1px solid #fafafa;
}
.feedback a{
	color:rgb(255,255,255,0.7);
}
.feedback a:hover{
	color:rgb(255,255,255,1);
}
.background-item{
	width: 100%;
	height: 100vh;
	filter: brightness(50%);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: absolute;
}
.item1{
	background-image: url(../img/img-banner.jpg);
}
.item2{
	background-image: url(../img/page1.jpg);
}
.item3{
	background-image: url(../img/home.jpg);
}
.item3-design{
	background-image: url(..//img/design.jpg);
}
.item4{
	background-image: url(../img/TimBerners-Lee.jpg);
	background-position: right;
	background-size:auto; 
}
.item5{
	background-image: url(../img/TimBerners-Lee.jpg);
}
.item6{
	background-image: url(../img/social-media.jpg);
}
.item7{
	background-image: url(../img/gdp1.jpg);
}
.item8{
	background-image: url(../img/gdp.jpg);
}
.item9{
	background-image: url(../img/user3.jpg);
}

.title{
	position: absolute;
	z-index: 1;
	padding: 90px;
	border: 1px solid;
	border-color: rgb(255,255,255,0.8);
}
.title-sup{
	padding: 50px;
}
.title-title{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	font-size: 50px;
	text-align: center;
	color:  rgb(255,255,255,1);
	font-weight: bold;
	padding-bottom: 5px;
	text-shadow: 1px 3px 4px rgba(0,0,0,1);
}
.title p{
	padding-top: 3px;
	text-align: center;
	color: rgb(255,255,255,0.8);
}
.caption{
	top: 50%;
	left: 150%;
	transform: translate(-50%,-50%);
}
.caption1{
	top: 10%;
	left: 250%;
	transform: translate(-50%,-10%);
}
.caption2{
	top: 10%;
	left: 350%;
	transform: translate(-50%,-10%);
}
.caption3{
	top: 10%;
	left: 465%;
	transform: translate(-50%,-10%);
}
.caption4{
	top: 10%;
	left: 550%;
	transform: translate(-50%,-10%);
}
.caption5{
	top: 10%;
	left: 650%;
	transform: translate(-50%,-10%);
}
.caption6{
	top: 10%;
	left: 750%;
	transform: translate(-50%,-10%);
}
.caption7{
	top: 10%;
	left: 850%;
	transform: translate(-50%,-10%);
}
.caption8{
	top: 10%;
	left: 950%;
	transform: translate(-50%,-10%);
}
.title-content{
	position: absolute;
	z-index: 1px;
	margin-top: 5%;
}
.title-content p{
	line-height: 60px;
	color: white;
	font-size: 30px;
}
.caption1-title{
	top: 50%;
	left: 250%;
	transform: translate(-50%,-50%);
}
.caption2-title{
	top: 50%;
	left: 350%;
	transform: translate(-50%,-50%);
}
.caption3-title{
	top: 50%;
	left: 470%;
	transform: translate(-50%,-50%);
}
.caption4-title{
	top: 50%;
	left: 550%;
	transform: translate(-50%,-50%);
}
.caption5-title{
	top: 50%;
	left: 650%;
	transform: translate(-50%,-50%);
}
.caption6-title{
	top: 50%;
	left: 750%;
	transform: translate(-50%,-50%);
}
.caption7-title{
	top: 50%;
	left: 850%;
	transform: translate(-50%,-50%);
}
.caption8-title{
	top: 50%;
	left: 950%;
	transform: translate(-50%,-50%);
}
.feedback-content{
	width: 100%;
	height: 100vh;
	position: relative;
}
.back{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;
}
.back:hover{
	background: #ccc;
}
.feedback-item{
	position: absolute;
	z-index: 1;
	width: 70%;
	height: 600px;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #fafafa;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feedback-left{
	width: 60%;
	display: inline-block;
	vertical-align: top;
	height: 600px;
	background-size: cover;
	background-position: center;
	position: absolute;
}
.left-bg{
	width: 100%;
	height: 600px;
	background: url(../img/feedback1.jpg);
	background-size: cover;
	background-position: center;
	filter: brightness(80%);
	position:absolute;
}
.fbk-left-cap{
	position: absolute;
	z-index: 1;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.fbk-left-cap p{
	color: white;
	font-size: 50px;
	font-weight: bold;
}
.feedback-right{
	width: 35%;
	vertical-align: top;
	float: right;
	padding-top: 10px;
}
.fb-right-item{
	margin-bottom: 10px;	
}
.fb-right-item span{
	color: red;
}
.fb-right-item p{
	padding-bottom: 5px;
}
.fb-right-item .submit:hover{
	background: #ccc;
}
.fb-social{
	color: white;
	font-size: 25px;
	width: 81%;
}
.fb-social a{
	color: white;
}
.fb-social .fa-facebook-f,.fb-social .fa-twitter{
	border-right: 1px solid white; 
	padding-right: 10px;

}
.fb-social p{
	padding: 10px;
	font-weight: bold; 
}
.fb-social p:first-child{
	background: #4267b2;
	margin-bottom: 10px;
}
.container{
	width: 100%;
	background: #fafafa;
}
.container>a{
	top: 50%;
	z-index: 2;
	position: fixed;
}
.header{
	width: 100%;
	height: 500px;
	position: relative;
}
.header-bg{
	/*position: absolute;*/
	height: 500px;
	background: url(../img/document-bg.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	filter: brightness(80%);
	z-index: 1;
}
.header h1{
	position: absolute;
	color: white;
	font-size: 50px;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-shadow: 1px 3px 4px rgba(0,0,0,0.4);
	text-shadow: 0 0 3px #FF0000;
	z-index: 1;
}
.document-content{
	width: 80%;
	margin: 0 auto;
	margin-top: 40px;
	line-height: 30px;
}
.document-content h1{
	font-size: 20px;
	font-weight: bold;
	color: red;
}
.document-content h2{
	font-weight: bold;

}