*{
    margin: 0;
    padding: 0;
}
.do{
    color: rgb(230, 2, 2);
}
.xanh{
    color: rgb(0, 59, 223);
}
.cam{
    margin-top: 100px;
    margin-left: 75px;
}
.opct{
    opacity: 0;
}

.week4{
    width: 100%;
}
.week4 .header{
    width: 100%;
    height: 70px;
    background: rgb(255, 255, 255);
    display: flex;
    line-height: 70px;
}
.week4 .header .logo{
    margin-left: 50px;
    margin-top: 13px;
    width: 18%;
}
.week4 .header .logo img{
    width: 100%;
}
.week4 .header ul{
    width: 40%;
    margin-left: 300px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.week4 .header .menu li{

}
.week4 .header .menu li a{
    text-decoration: none;
    font-family: "Segoe UI",Arial,sans-serif;
    color: #010965;
}
.week4 .header .search{
    width: 30%;
    margin-left: 250px;
    display: flex;
}
.week4 .banner_top{
    width: 100%;
    height: 550px;
    background: url(pic/banner_top.jpg);
    background-size: cover;
    text-align: center;
}
.week4 .banner_top img{
    margin-top: 5%;
    width: 30%;
}
/* end header */

.week4 .content{
    /* margin-top: 50px; */
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
.week4 .content ._1row{
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.week4 .content ._1row .col1{
    width: 45%;
}
.week4 .content ._1row .col2{
    width: 45%;
    padding-top: 35px;
    padding-left: 50px;
    margin-top: 20px;
    /* background-color: #f1f1f1!important; */
    line-height: 30px;
    position: relative;
}
.week4 .content ._1row .col1 h1 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 80px;
    color: #555555;
    text-align: center;
}
.week4 .content ._1row .col1 p {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
}
.week4 .content ._1row .col2 .lop1{
    display: flex;
    font-family: Consolas,"courier new";
    font-size: 20px;
    position: absolute;
    z-index: 1;
}
.week4 .content ._1row .col2 .lop1 .left{
    padding-right: 10px;
    border-right: 5px solid blue;
}
.week4 .content ._1row .col2 .lop1 .right{
    margin-left: 20px;
}
.week4 .content ._1row .col2 .lop2{
    position: absolute;
    z-index: 2;
}
.week4 .content ._1row .col2 .run{
    position: absolute;
    z-index: 3;
    top: 280px;
    left: 224px;
    padding: 5px;
    background: rgb(45, 197, 50);
    font-size: 20px;
    font-family: Consolas,"courier new";
}
.week4 .content ._1row .col2 .lop2 h1 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 40px;
    /* color: #000000; */
}
.week4 .content ._1row .col2 .lop2 p {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.h22{
    color: red;
    text-align: center;
}
.p22{
    color: blue;
    text-align: center;
}