*{
    margin: 0px;
    padding: 0px;
}
/* Phần tổng thể */
.tiki{
    width: 100%;
    margin: auto;
    font-family: segue ui light;
    background-color: rgb(241, 237, 237);
}
/* Phần đầu */
.tiki .top{}
.tiki .top img{
    width: 100%;
    height: 50px;
    padding: 0px;
}
/* Phần tiện ích */
.tiki .tienich{
    width: 100%;
    height: 20px;
    color: white;
    background-color: rgb(60, 72, 236);
    display: flex;
    margin: auto;
    text-decoration: none;
}
/* Phần tìm kiếm */
.tiki .search{
    background-color: rgb(61, 162, 221);
    height: 120px;
    margin-top: 0px;
}
/* Thanh tìm kiêm phía trên */
.tiki .search .tren{
    height: 60px;
    margin-top: 0px;
    display: flex;
}
.tiki .search .tren .icon img{
    width: 60px;
    margin-left: 35px;
    padding-top: 10px;
}
.tiki .search .tren .tikinow img{
    width: 100px;
    margin-left: 35px;
    padding-top: 20px;
}
.tiki .search .tren .timkiem{
    border-radius: 2px;
    display: flex;
    width: 430px;
    padding-top: 15px;
    padding-left: 25px;
}
.tiki .search .tren .timkiem .search{
    width: 298px;
    height: 40px;
    background-color: white;
}
.tiki .search .tren .timkiem button{
    height: 40px;
    width: 128px;
}
.tiki .search .tren .donhang{
    display: flex;
    text-decoration: none;
    width: 110px;
    padding-top: 15px;
    margin-left: 35px;
    color: white;
}
.tiki .search .tren .donhang .fa{
    margin: auto;
}
.tiki .search .tren .donhang .text{
    margin-left: 10px;
}
.tiki .search .tren .thongbao{
    text-decoration: none;
    display: flex;
    width: 110px;
    padding-top: 15px;
    margin-left: 35px;
    color: white;
}
.tiki .search .tren .thongbao .fas{
    margin: auto;
}
.tiki .search .tren .thongbao .text{
    margin-left: 10px;
}
.tiki .search .tren .dangnhap{
    text-decoration: none;
    display: flex;
    width: 110px;
    padding-top: 15px;
    margin-left: 35px;
    color: white;
}
.tiki .search .tren .dangnhap .fas{
    margin: auto;
}
.tiki .search .tren .dangnhap .text{
    margin-left: 10px;
}
.tiki .search .tren .giohang{
    text-decoration: none;
    display: flex;
    width: 120px;
    height: 40px;
    margin-top: 23px;
    margin-left: 35px;
    color: white;
    border: solid 3px;
    border-radius: 3px;
    border-block-end-color: white;
}
.tiki .search .tren .giohang .fas{
    margin: auto;
}
.tiki .search .tren .giohang .text{
    margin-left: 10px;
    margin: auto;
}
/* Phần tìm kiếm phía dưới */
.tiki .search .duoi{
    display: flex;
    height: 30px;
    margin-top: 20px;
    margin-left: 35px;
    padding-bottom: 10px;
    font-size: 17px;
    color: white;
}
.tiki .search .duoi .sanpham{}
.tiki .search .duoi .down{
    padding-left: 30px;
}
.tiki .search .duoi .down a{
    color: white;
    text-decoration: none;
}
.tiki .search .duoi .giaonhanh{
    display: flex;
    width: 230px;
    padding-left: 30px;
    font-size: 12px;
}
.tiki .search .duoi .giaonhanh img{
    width: 23%;
    background-color: white;
    border-radius: 15px;
}
.tiki .search .duoi .giaonhanh a{
    margin-top: 0px;
    padding-left: 4px;
    color: white;
    text-decoration: none;
}
.tiki .search .duoi .chinhhieu{
    padding-left: 30px;
    display: flex;
    width: 150px;
    font-size: 12px;
}
.tiki .search .duoi .chinhhieu i{
    padding-top: 10px;
}
.tiki .search .duoi .chinhhieu p{
    padding-left: 4px;
}