*{
    margin: 0px;
    padding: 0px;
}
.dhhn{
    width: 100%;
}

.dhhn .top{
    margin-top: 20px;
    margin-left: 250px;
    width: 950px;
    height: 250px;
    position: relative;
}
.dhhn .top .background_top{
    position: absolute;
}
.dhhn .top .background_top .top_bg{
    width: 100%;
}

.dhhn .top .tren{
    position: absolute;
}
.dhhn .top .tren a{
    display: flex;
    text-decoration: none;
}
.dhhn .top .tren a img{
    width: 90px;
}
.dhhn .top .tren a .text{
    width: 280px;
    margin-left: 10px;
    margin-top: 20px;
    color: white;
}
.dhhn .top .tren a .text .text1{
    font-family: Calibri!important;
    font-size: 25px;
}
.dhhn .top .tren a .text .text2{
    font-family: Calibri!important;
    font-size: 20px;
}
/* 
.dhhn .top .tren .vn{
    width: 35px;
    margin-left: 100px;
    padding: 5px;
    border: 1px solid white;
    color: white;
}
.dhhn .top .tren .en{
    width: 35px;
    padding: 5px 5px 5px 5px;
    border: 1px solid white;
    color: white;
}
.dhhn .top .tren .search{
    width: 250px;
    margin-top: 20px;
    margin-left: 10px;
}
.dhhn .top .tren .search input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
.dhhn .top .tren .search button{
    width: 34px;
    height: 34px;
    border-radius: 5px;
} */
.dhhn .top .banner{
    position: absolute;
}
.dhhn .top .banner img{
    width: 955px;
    height: 155px;
    margin-left: 200px;
    margin-top: 30px;
}



