*{
    margin: 0px;
    padding: 0px;
}

.dhhn .content {
    position: absolute;
    z-index: 6;
    top: 380px;
    left: 150px;
}
.dhhn{
    width: 100%;
    position: relative;
}
.dhhn .top{
    width: 100%;
    position: absolute;
    z-index: 1;
}
.dhhn .top .bg_top_1{
    width: 100%;
    position: absolute;
    z-index: 2;
}
.dhhn .top .bg_top_2{
    width: 100%;
    height: 150px;
    position: absolute;
    z-index: 3;
    background: white;
}
.dhhn .top .bg_top_1 .bg{
    width: 100%;
    height: 330px;
}
.dhhn .top .phantren{
    width: 950px;
    height: 90px;
    display: flex;
    position: absolute;
    z-index: 4;
    top: 20px;
    left: 260px;
}
.dhhn .top .phantren .left{
    width: 475px;
    margin-top: 15px;
    text-decoration: none;
    display: flex;
}
.dhhn .top .phantren .left .logo img {
    width: 70px;
}
.dhhn .top .phantren .left .text {
    margin-top: 5px;
    margin-left: 10px;
    font-family: Calibri!important;
    font-size: 22px;
    font-weight: bold;
    color: black;
}
.dhhn .top .phantren .left .text .text2{
    margin-top: 5px;
    font-size: 18px;
    font-family: segoe ui light;
}
.dhhn .top .phantren .right{
    width: 475px;
    margin-top: 27px;
    margin-left: 150px;
}
.dhhn .top .phantren .right .search{
    width: 300px;
}
.dhhn .top .phantren .right .search input{
    width: 200px;
    height: 28px;
}
.dhhn .top .phantren .right .search button{
    width: 32px;
    height: 32px;
    border-radius: 5px;
}
.dhhn .top .slide{
    width: 1110px;
    height: 160px;
    position: absolute;
    z-index: 4;
    top: 150px;
    left: 130px;
}

.dhhn .top .slide img{
    width: 100%;    
    border: 1px solid rgb(74, 250, 168);
    border-radius: 10px;
}
/* Hết phần top */
.dhhn .menu {
    width: 1110px;
    height: 40px;
    background: #00e4d1;
    border-radius: 5px;
    position: absolute;
    z-index: 5;
    top: 330px;
    left: 130px;
    font-family: Calibri!important;
    font-size: 20px;
}
.dhhn .menu > ul{
    width: 100%;
    height: 100%;
    display: flex;
    list-style-type: none;
}
.dhhn .menu > ul > a{
    text-decoration: none;
    padding: 5px 12.7px;
    color: black;
    transition: 0.4s;
}
.dhhn .menu > ul > a:hover{
    background: #011aff8c;
    padding: 3px 12.7px;
    border-radius: 3px;
}
.dhhn .content{
    width: 1210px;
    position: absolute;
    z-index: 6;
    left: 70px;
    top: 420px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(178, 216, 206);
    border-radius: 10px;
}
.dhhn .content .left{
    width: 250px;
    padding-top: 25px;
    padding-left: 10px;
    padding-bottom: 80px;
    background: #71f3dd94;
    border-radius: 10px;
}
.dhhn .content .left.active{
    position: fixed;
    top: 0;
    left: 70px;
}
.dhhn .content .left .thongtin ul{
    list-style-type: none;
}
.dhhn .content .left .thongtin ul > li{
    font-family: Calibri!important;
    font-size: 20px;
    font-weight: bold;
}
.dhhn .content .left .thongtin ul > a > li{
    padding: 2px;
}
.dhhn .content .left .thongbao{
}
.dhhn .content .left .thongbao ul{
    list-style-type: none;
}
.dhhn .content .left .thongbao ul > li{
    font-family: Calibri!important;
    font-size: 20px;
    font-weight: bold;
}
.dhhn .content .left .thongbao ul > a > li{
    padding: 2px;
}
.dhhn .content .left .sinhvien{
}
.dhhn .content .left .sinhvien ul{
    list-style-type: none;
}
.dhhn .content .left .sinhvien ul > li{
    font-family: Calibri!important;
    font-size: 20px;
    font-weight: bold;
}
.dhhn .content .left .sinhvien ul > a > li{
    padding: 2px;
}
.dhhn .content .left > img{
    width: 100%;
    margin-top: 25px;
}
.dhhn .content .right{
    width: 940px;
}
.dhhn .content .right.left250{
    margin-left: 270px;
}
.dhhn .content .right .tintuc{
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom:  1px solid;
}
.dhhn .content .right .tintuc > a{
    text-decoration: none;
    margin-left: 370px;
    color: black;
}
.dhhn .content .right .tintuc > a:hover{
    color: rgb(255, 0, 0);
}
.dhhn .content .right .tintuc > a > h2{
    margin-left: auto;
    margin-bottom: 10px;
}
.dhhn .content .right .tintuc .phanduoi {
    width: 100%;
    display: flex;
}
.dhhn .content .right .tintuc .phanduoi .col{
    width: 280px;
    color: black;
}
.dhhn .content .right .tintuc .phanduoi .col > a > img{
    width: 100%;
    margin-bottom: 5px;
    transition: 0.4s;
}
.dhhn .content .right .tintuc .phanduoi .col > a > img:hover{
    transform: scale(0.95);
}