html{
  font-size: 120%;
}
.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.2) 0%, rgba(22, 22, 22, 0.4) 75%, #161616 100%),
     url("../img/ING_33594_242682-Future-tech_v2.jpg");
     /* background-image: url("../img/industry-background.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

.masthead h1 {
    font-family: 'Varela Round';
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    position: relative;
    top: 150px;
    left: -150px;
    /* background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)); */
    /* -webkit-text-fill-color: transparent; */
    /* -webkit-background-clip: text; */
}

h1{
  color: #64a19d;
}

li{
  padding-bottom: 0.7em;
}

.img{
  display: block;
  margin: auto;
}

