
html{
    font-size: 120%;
  }
  
  .star-rating {
    line-height:32px;
    font-size:1.25em;
  }
  
  .star-rating .far{color: yellow;} 
  .star-rating .fas{color: yellow;} 
  /* .star-rating .fa-star-o{color: yellow;}  */

  h2,h3{
    color: #64a19d;
  }

  .img{
    display: block;
    margin: auto;
  }